*{
background-color: cadetblue;
}

table
{
  margin-top: 100px;
}
.latest_movies
{
  display: flex;
  flex-wrap:wrap;
  margin: 30px;
  padding: 30px;
}


.desc
{
  text-align: center;
  height: 150px;
  color: greenyellow;
}
.nav_bar
{
  display: flex;
  flex-direction: row;
   justify-content: space-around;
}

.choice
{
  
  width: 190px;
  height: 120px;
  color: aqua;
  border-radius: 6px;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

select
{
  background-color: black;
  color: aqua;
  height: 60px;
  width: fit-content;
  font-size: xx-large;
  font-weight: bolder;
  border: 5px solid greenyellow;
  border-radius: 5px;
}

.poster{

  margin: 20px;
  height: 650px;
  width:  300px;
  padding: 20px;
  background-color: aliceblue;
}
.book_ticket
{
  margin-bottom: 10px;
  text-align: center;
}
.card_body
{
  background-color: antiquewhite;
  height: 40%;
}
img{
   padding: 3px 3px;
   height: 250px;
   width: 300px;
}
.seat_layout
{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SCREEN {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: DodgerBlue;
  margin: 150px 50px;
}
.seat_level
{
  margin: 10px;
}
.seat
{
  height: 25px;
  width: 51px;
  margin: 0px;
}
.heading
{
  text-align: center;
  font-size: xx-large;
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
  
}

#pay_btn
{
  width: 100px;
  height: 60px;
  color: black;
  background-color: aqua;
  text-align: center;
  margin-left:47%;
  border: 3px solid orange;
  border-radius: 7px;
}

#log_btn,#sign_btn,#book_now
{
  width: 120px;
  height: 60px;
  color: black;
  background-color: aqua;
  text-align: center;
  border: 3px solid orange;
  border-radius: 7px;
}

#logout
{
  width: 70px;
  height: 30px;
  color: black;
  background-color: aqua;
  text-align: center;
  border: 3px solid red;
  border-radius: 7px;
}
.LogOut
{
  display: flex;
  justify-content: flex-end;

}
.book_btn
{
  height: 70px;
  width: 200px;
  background-color: crimson;
  color: aliceblue;
  font-size: xx-large;
  font-weight: bolder;
  border: 4px solid gold;
  border-radius: 2px;
}
.login_form,.sign_up_form
{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aqua;
  font-size: xx-large;
}


input
{
  height: 60px;
  width: 200px;
  font-size: xx-large;
  color: aqua;
}

#pay_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#log_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#sign_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#book_now:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#logout:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.location_time
{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}

.rating
{
  color: gold;
  text-align: center;
  padding-top: 0px;
  font-size: xx-large;
  font-weight: bolder;
  margin: 0px;
}
.select_seat
{
   
  text-align: center;

}
.card-title
{
  color: blue;
  text-align: center;
  font-size: larger;
}